@import "tailwindcss";


::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #fbbf24;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #f59e0b;
}

body, html {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#root {
  width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

