@import "tailwindcss";


::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #fbbf24;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #f59e0b;
}

html {
  scroll-behavior: smooth;  
}

